<!DOCTYPE html>
<html>

<head>
  <%- include ('template/head')%>
</head>

<body>

</body>

</html>

<%- include ('template/navbar')%>
  <div class="container">
    <% if(username) { %>
      <form action="/comments" method="POST">
        <div class="mb-3">
          <label for="content" class="form-label">留言內容</label>
          <textarea class="form-control" id="content" rows="3" name="content"></textarea>
          <button type="submit" class="btn btn-primary mt-2">新增留言</button>
        </div>
      </form>
      <% } %>

        <% comments.forEach(comment=> { %>

          <div class="card mt-2">
            <div class="card-body">
              <h5 class="card-title">
                <%= comment.nickname%>
              </h5>
              <p class="card-text">
                <%= comment.content%>
              </p>
              <% if(username===comment.username) { %>
                <a class="card-link" href="/update_comments/<%= comment.id%>">編輯</a>
                <a class="card-link" href="/delete_comments/<%= comment.id%>">刪除</a>
                <%}%>
            </div>
          </div>
          <% }) %>
  </div>